@import "./media-mixins.scss";

button {
  outline: none;
  height: 100%;
  border: none;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  font-size: 1.8vw;
  align-items: center;
  height: 100%;
}

div.add-button.after {
  width: 50%;
  @include phone-media {
    width: 90%;
  }
}

.debug {
  border: solid black 3px;
  font-size: xx-large;
}

button:hover {
  box-shadow: rgb(0, 132, 255) 0px 5px 10px;
}

.fas {
  &:hover {
    color: rgb(35, 21, 224);
  }
  &.fa-times:hover {
    color: rgb(149, 12, 12);
  }
}

i {
  font-size: 1.5vw;
  padding: 10px 1vw;
  height: 100%;
  @include phone-media {
    font-size: 3.6vw;
    padding: 10px 8px;
  }
}
