@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
@import "./media-mixins.scss";

// * {
//   transition-duration: 0s;
// }

body {
  margin: 10px;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #85bff1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85bff1,
    #acc5d6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85bff1,
    #acc5d6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* display: flex;
  justify-content: center; */
}

html,
body {
  height: 98%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  // border: 2px solid red;
  box-sizing: border-box;
  margin-bottom: 3vh;
  width: unquote("max(400px, 70vw)");
  // padding: 0 unquote("clamp(5vw, 3rem, 5rem)");
  // min-width: 70vw;
  // padding: 0 30vw;
  // margin: 0 30vw;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.clock.buttons {
  /* clock and buttons div */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}

div.add-button.after {
  box-sizing: border-box;
  width: unquote("max(400px, 70vw)");
}
