@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
body {
  margin: 10px;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(67, 170, 255, 0.65);
}

html,
body {
  color: #414756;
  height: 98%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  box-sizing: border-box;
  margin-bottom: 3vh;
  width: max(400px, 70vw);
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.clock.buttons {
  /* clock and buttons div */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}
