@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
body {
  margin: 10px;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(67, 170, 255, 0.65);
}

html,
body {
  color: #414756;
  height: 98%;
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}
@media only screen and (max-width: 600px) {
  #main {
    width: 90vw;
  }
}

.wrapper {
  box-sizing: border-box;
  margin-bottom: 3vh;
  width: 100%;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.clock.buttons {
  /* clock and buttons div */
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}

@media (max-width: 600px) {
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    width: 80%;
  }
}

.actual-timer {
  color: #414756;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: max(2.5vw, 2rem);
}
.actual-timer div {
  background-color: rgba(255, 255, 255, 0.238);
  border-radius: 10px;
  border: 1px solid #414756;
  color: #414756;
  padding: 3px 10px;
  margin: 5px 0 5px 0;
}
