@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  margin: 10px;
  font-family: "Arvo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #85bff1;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#85bff1), to(#acc5d6));
  background: linear-gradient(to right, #85bff1, #acc5d6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* display: flex;
  justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  height: 98%;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  margin-bottom: 1rem;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}

.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.clock.buttons {
  /* clock and buttons div */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 13px 0 13px 0;
}

div.add-button.after {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  div.add-button.after {
    width: 90%;
  }
}

.actual-timer {
  color: rgba(255, 255, 255, 0.568);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8vw;
  margin-right: 20px;
}

.actual-timer div {
  /* background-color: rgb(82, 82, 82); */
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 10px;
  border: 1px solid #404549;
  color: #404549;
  padding: 3px 10px;
  margin: 5px 0 5px 0;
}

@media only screen and (max-width: 800px) {
  .actual-timer {
    font-size: 3.6vw;
  }
}

.clock {
  font-size: 1rem;
}
